@tailwind base;
@tailwind components;
@tailwind utilities;



.nav .active{
    @apply bg-[#4880FF] text-white
}

/* .nav.hover {
  @apply bg-[#487fffbe] text-white
} */


/* For WebKit-based browsers (Chrome, Safari, Opera) */
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 40px; /* Adjust the value as needed */
  }
  
  /* For Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ffffff13 transparent;
  }
  
  /* For Internet Explorer and Edge */
  .custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-color: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 50px; /* Scrollbar width */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Scrollbar thumb color */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Scrollbar track color */
  }